.purchase-insentive{
    background-color: #bdbdbd;
    color: #fafafa;
}

.car-name{
    color: #212121;
}

.value-car{
    color: #424242;
}

.link-to-details{
    color: #d32f2f;
}

.card{
    border: none;
}
